
@{
    ViewBag.Title = "cart";
    Layout = "~/Views/Shared/_FrontEnd.cshtml";
}

<h2>Your Cart</h2>
<table class="table">

    @{
        var total = 0;
        myshopDBEntities1 obj = new myshopDBEntities1();
        var it = obj.tblproducts.ToList();
        foreach (var item in ViewBag.c)
        {
            
            foreach(var i in it)
            {
                if(i.pid == item.iid)
                {
                    var amt = item.iqty * i.pprice;
                    <tr>
                        <td>@i.pname</td>
                        <td>@i.pprice</td>
                        <td>@item.iqty</td>
                        <td>@amt</td>
                    </tr>
                    total+= amt;

                }
            }

        }
        if(total == 0)
        {
            <h3>Your Cart is Empty!</h3>
        }
        else
        {
            <tr>
               
               <td> </td>
                <td></td>
                <td>@Html.ActionLink("Checkout", "Checkout", "Home");</td>
                <td>@total</td>
            </tr>
            
        }

        }

</table>

